[general]
background-image-file='/usr/share/backgrounds/1253503.png'
copy-on-select=true
default-shell='/usr/bin/zsh'
display-n=0
display-tab-names=0
fullscreen-hide-tabbar=true
gtk-prefer-dark-theme=false
gtk-theme-name='ZOMG-PONIES!'
gtk-use-system-default-theme=false
hide-tabs-if-one-tab=true
history-size=1000
max-tab-name-length=100
mouse-display=true
open-tab-cwd=true
prompt-on-quit=true
quick-open-command-line='gedit %(file_path)s'
quick-open-enable=true
quick-open-in-current-terminal=true
restore-tabs-notify=true
restore-tabs-startup=true
save-tabs-when-changed=true
scroll-keystroke=true
tab-close-buttons=true
tab-ontop=true
use-default-font=false
use-popup=true
use-scrollbar=true
use-trayicon=true
window-halignment=0
window-height=50
window-losefocus=false
window-refocus=true
window-tabbar=true
window-width=100

[keybindings/global]
show-hide='<Alt>p'

[style/background]
transparency=80

[style/font]
allow-bold=true
palette='#363636363636:#FFFF08088383:#8383FFFF0808:#FFFF83830808:#08088383FFFF:#83830808FFFF:#0808FFFF8383:#B6B6B6B6B6B6:#424242424242:#FFFF1E1E8E8E:#8E8EFFFF1E1E:#FFFF8E8E1E1E:#1E1E8E8EFFFF:#8E8E1E1EFFFF:#1E1EFFFF8E8E:#C2C2C2C2C2C2:#B4B4E1E1FDFD:#0D0D19192626'
palette-name='Aci'
style='MesloLGS NF 12'
