[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA
Icon=/opt/idea/bin/idea.png
Exec=/opt/idea/bin/idea.sh
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupNotify=true